# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
deprecated
.eslintcache
selenium-debug.log
package-lock.json
OLD/
test/unit/coverage
.env
.env.local
.env.production
.env.analyze

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vscode
.fleet
.DS_Store
OLD
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
stats.html
