.collapse__body {
  overflow: hidden;
}

.collapse__body-enter {
  animation: collapse-frame-keyframes 0.25s ease-in-out;
}

.collapse__body-exit {
  animation: collapse-frame-keyframes 0.25s ease-in-out reverse;
}

@keyframes collapse-frame-keyframes {
  from {
    height: 0;
  }

  to {
    height: var(--collapse-body-height);
  }
}
