.Toastify__toast {
  &--success {
    color: var(--success-dark);
  }

  &--error {
    color: var(--error-dark);
  }

  &--warning {
    color: var(--warning-light);
  }

  &--info {
    color: var(--primary-main);
  }
}

.notification {
  display: grid;
  place-items: center;
  grid-template-columns: max-content 1fr;
  grid-gap: to-rem(16);
}

.notification .notification__icon {
  max-width: to-rem(48);
  max-height: to-rem(48);
}

.notification__details {
  display: grid;
  grid-gap: to-rem(4);
  width: 100%;
}

.notification__title {
  color: var(--text-primary-main);
}

.notification__message {
  color: var(--text-primary-main);
}
