.spinner {
  display: inline-block;
  width: to-rem(80);
  height: to-rem(80);
}

.spinner:after {
  content: ' ';
  display: block;
  width: to-rem(64);
  height: to-rem(64);
  margin: to-rem(8);
  border-radius: 50%;
  border: to-rem(6) solid var(--border-primary-main);
  border-color: var(--border-primary-main) transparent
  var(--border-primary-main) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
