.inputs-overview {
  display: grid;
  grid-gap: to-rem(50);
  padding: 0 var(--app-padding-left) to-rem(200) var(--app-padding-right);
}

.inputs-overview__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: to-rem(24);
}

.inputs-overview__col {
  display: grid;
  align-content: start;
  grid-gap: to-rem(10);
}

.inputs-overview__select-option {
  display: grid;
  align-items: center;
  grid-template-columns: to-rem(24) 1fr;
  grid-gap: to-rem(12);
}

.inputs-overview__select-option-icon {
  width: to-rem(24);
  height: to-rem(24);
}
