.error-message {
  display: grid;
  place-items: center;
  grid-gap: to-rem(12);
}

.error-message__icon {
  color: var(--error-main);
  font-size: to-rem(48);
}

.error-message__title {
  color: var(--error-main);
  font-size: to-rem(24);
}

.error-message__message {
  color: var(--error-main);
  font-size: to-rem(18);
}
