.commons-overview {
  display: grid;
  grid-gap: to-rem(48);
}

.commons-overview__row {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: to-rem(24);
}

.commons-overview__col {
  display: grid;
  place-items: center;
  width: 100%;
}

.commons-overview__icons-wrp {
  grid-column: 1 / -1;
}

.commons-overview__icons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: var(--text-primary-light);

  & > * {
    width: to-rem(64);
    height: to-rem(64);
    padding: to-rem(12);
  }
}

.commons-overview__collapse {
  width: 100%;
}

.commons-overview__collapse-btn {
  width: 100%;
}
