.app-navbar {
  display: flex;
  align-items: center;
  padding:
    to-rem(24)
    var(--app-padding-right)
    to-rem(24)
    var(--app-padding-left);
  background: var(--app-bg);
  border-bottom: var(--border-primary-main);
}

.app-navbar__logo {
  max-width: to-rem(250);
}
